.category-buttons {
    margin: 50px 0 30px;
    .button-group {
        display: flex;
        gap: 10px;
    }
    button {
        display: flex;
        align-items: center;
        font-size: clamp(0.9rem, 2.5vw, 1.2rem);
        @include WorkSans(600);
        padding: 5px 10px;
        @include Buttons(600, 5px);
        &:hover {
            background-color: #FFFF00;
            @include blackShadow(3px);
        }
    }
}

#all-btn, #fave-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

#all-btn::after {
    content: 'All';
}

#fave-btn::after {
    content: 'Favorites';
}

.active-btn {
    background-color: #FFFF00 !important;
    margin-right: 8px;
    @include blackShadow(3px);
}


.card {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 30px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    &:hover {
        @include blackShadow(5px);
    }
    p {
        width: 100%;
        text-align: left;
        font-size: 1rem;
    }
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.changes-btn {
    svg {
        cursor: pointer;
    }
    svg:first-child {
        margin-right: 10px;
    }
}

.more-options-wrapper {
    width: 100%;
    background: rgba(49,49,49,0.8);
    position: relative;
}

.more-options {
    position: absolute;
    top: -15px;
    right: 0;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 0 30px;
    p {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 20px 0;
        cursor: pointer;
    }
}

.card-text {
    resize: none;
}

.copy-btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1rem;
    @include blackShadow(5px);
    @include Buttons(800, 3px);
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }

@media screen and (min-width: 800px) {
    .category-buttons {
        button {
            &:hover {
                background-color: #FFFF00;
                @include blackShadow(5px);
            }
        }
    }
    #all-btn, #fave-btn {
        gap: 10px;
    }
    .active-btn {
        @include blackShadow(5px);
    }
    .card {
        &:hover {
            @include blackShadow(8px);
            @include HoverAnimate(1.01);
        }
    }
    .copy-btn {
        @include blackShadow(8px);
    }
}