.request-form {
    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background: rgba(49,49,49,0.8);
    }
    .form-content {
        width: 330px;
        background-color: #FFFFFF;
        border: 3px solid #000000;
        border-radius: 10px;
        padding: 40px 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    h1 {
        font-size: clamp(2rem, 2.5vw, 2.3rem);
        @include Montserrat(600);
        margin-bottom: 10px;
    }
    p {
        font-size: clamp(1rem, 2.5vw, 1.1rem);
    }
    .close-btn {
        position: absolute;
        right: 20px;
        top: 40px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        label {
            font-size: clamp(1.1rem, 2.5vw, 1.15rem);
            @include WorkSans(600);
        }
        input, textarea {
            @include WorkSans(400);
            padding: 8px;
            margin: 5px 0 10px;
            resize: none;
        }
        button {
            @include Buttons(700, 5px);
            @include blackShadow(5px);
            background-color: #FFF000;
            padding: 10px;
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 800px) {
    .request-form {
        .close-btn {
            position: absolute;
            right: 40px;
            top: 50px;
            cursor: pointer;
        }
        .form-content {
            width: 400px;
            padding: 50px 40px;
        }
    }
}